In [1]:
#importing json and api login
import pandas as pd
import json
with open(r"\Users\camer\OneDrive\Documents\GitHub\dojo-env-setup\.secret\yelp_api.json") as f:
    login = json.load(f)
    
login.keys()

dict_keys(['client-id', 'api-key'])

In [2]:
#importing yelp api
from yelpapi import YelpAPI
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [6]:
#searching crabcakes in API
results = yelp_api.search_query(location='Baltimore, MD',
                                term='Crab Cake',
                                offset=20)
print(type(results))
results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [7]:
#creating crab cake dataframeb
crab_cake = pd.DataFrame(results['businesses'])
crab_cake.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,7lDhtcolamUZw6oP5V1ehw,flash-crabcake-baltimore,Flash Crabcake,https://s3-media4.fl.yelpcdn.com/bphoto/KrZ0tm...,False,https://www.yelp.com/biz/flash-crabcake-baltim...,27,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",4.5,"{'latitude': 39.29578, 'longitude': -76.62233}",[],$,"{'address1': '', 'address2': '', 'address3': '...",+14103229143,(410) 322-9143,1772.567626
1,pJuoa35eDPRXLf7kUbpMTg,the-choptank-baltimore,The Choptank,https://s3-media4.fl.yelpcdn.com/bphoto/uUp93m...,False,https://www.yelp.com/biz/the-choptank-baltimor...,267,"[{'alias': 'seafood', 'title': 'Seafood'}]",4.0,"{'latitude': 39.283338, 'longitude': -76.593321}",[],NaN,"{'address1': '1641 Aliceanna St', 'address2': ...",+14437073364,(443) 707-3364,3191.510532
2,1EH88Idp4v2pWorFt2U4Cw,true-chesapeake-oyster-baltimore,True Chesapeake Oyster,https://s3-media3.fl.yelpcdn.com/bphoto/Znf8EL...,False,https://www.yelp.com/biz/true-chesapeake-oyste...,90,"[{'alias': 'seafood', 'title': 'Seafood'}]",4.5,"{'latitude': 39.3269600196533, 'longitude': -7...",[],$$$,"{'address1': '3300 Clipper Mill Rd', 'address2...",+14109136374,(410) 913-6374,3141.514496
3,UmXaCo_4O-nkvPN1bdfawQ,conrads-crabs-and-seafood-market-parkville-par...,Conrad's Crabs & Seafood Market - Parkville,https://s3-media2.fl.yelpcdn.com/bphoto/eNWmDq...,False,https://www.yelp.com/biz/conrads-crabs-and-sea...,217,"[{'alias': 'seafoodmarkets', 'title': 'Seafood...",4.0,"{'latitude': 39.3983851, 'longitude': -76.5614...","[pickup, delivery]",$$,"{'address1': '1720 E Joppa Rd', 'address2': ''...",+14108821515,(410) 882-1515,10720.284159
4,TL34QOmDmMtJmsabvPLErg,annabel-lee-tavern-baltimore,Annabel Lee Tavern,https://s3-media2.fl.yelpcdn.com/bphoto/dh6k0b...,False,https://www.yelp.com/biz/annabel-lee-tavern-ba...,639,"[{'alias': 'pubs', 'title': 'Pubs'}, {'alias':...",4.5,"{'latitude': 39.28538, 'longitude': -76.56961}","[delivery, pickup, restaurant_reservation]",$$,"{'address1': '601 S Clinton St', 'address2': '...",+14105222929,(410) 522-2929,4305.967856

In [8]:
#checking total
results['total']

877

In [9]:
#creating second dataframe
sushi = yelp_api.search_query(location='Boston, MA',
                                    term='Sushi',
                                    offset=20)
print(type(sushi))
sushi.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [10]:
sushi20 = pd.DataFrame(sushi['businesses'])
sushi20.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,n0NNUVwW-wEKc433oKZX5A,kura-revolving-sushi-bar-watertown,Kura Revolving Sushi Bar,https://s3-media3.fl.yelpcdn.com/bphoto/X9ax2g...,False,https://www.yelp.com/biz/kura-revolving-sushi-...,195,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.0,"{'latitude': 42.36195, 'longitude': -71.15979}",[],$$,"{'address1': '101 Bond Square', 'address2': ''...",+16176757575,(617) 675-7575,7443.205825
1,JO1aGVtB0TYtunc4Km_-Dg,koy-boston,Koy,https://s3-media1.fl.yelpcdn.com/bphoto/v0b4D2...,False,https://www.yelp.com/biz/koy-boston?adjust_cre...,624,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.0,"{'latitude': 42.3605931357964, 'longitude': -7...","[pickup, delivery]",$$,"{'address1': '16 North St', 'address2': None, ...",+18579911483,(857) 991-1483,1877.141413
2,GfuDpypk9ekc8OsMRTMJ0A,north-end-fish-market-boston-3,North End Fish Market,https://s3-media1.fl.yelpcdn.com/bphoto/BvuWok...,False,https://www.yelp.com/biz/north-end-fish-market...,347,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.5,"{'latitude': 42.36392, 'longitude': -71.0555399}","[pickup, delivery]",$$,"{'address1': '99 Salem St', 'address2': '', 'a...",+18573627477,(857) 362-7477,2205.720360
3,qBDpPs3Wg7EmUI5XGeUEdA,fugakyu-japanese-cuisine-brookline-brookline-2,FuGaKyu Japanese Cuisine - Brookline,https://s3-media2.fl.yelpcdn.com/bphoto/akIRmg...,False,https://www.yelp.com/biz/fugakyu-japanese-cuis...,1309,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.0,"{'latitude': 42.342954, 'longitude': -71.11937...","[pickup, delivery]",$$,"{'address1': '1280 Beacon St', 'address2': Non...",+16177341268,(617) 734-1268,3992.780230
4,pNgDJTvALiSQvE6gK4b9MQ,umami-omakase-cambridge,Umami Omakase,https://s3-media1.fl.yelpcdn.com/bphoto/FzJev1...,False,https://www.yelp.com/biz/umami-omakase-cambrid...,121,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.5,"{'latitude': 42.396579, 'longitude': -71.129792}","[restaurant_reservation, pickup, delivery]",$$$$,"{'address1': '2372 Massachusetts Ave', 'addres...",+16178682121,(617) 868-2121,7244.047507

In [12]:
#combining dataframes
total_cc = pd.concat(['crab_cake', 'sushi20'],
                    ignore_index=True)
display(total_cc.head(3), total_cc.tail(3))

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid