# Imports

In [1]:
#importing json and api login
import pandas as pd
import json
with open(r"\Users\camer\OneDrive\Documents\GitHub\dojo-env-setup\.secret\yelp_api.json") as f:
    login = json.load(f)
    
login.keys()

dict_keys(['client-id', 'api-key'])

In [2]:
#importing yelp api
from yelpapi import YelpAPI
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

# First Yelp DF

In [4]:
#searching Boston Sushi in API
sushi = yelp_api.search_query(location='Boston, MA',
                                term='Sushi',
                                offset=20)
print(type(sushi))
sushi.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [5]:
#creating dataframe for boston sushi 
bostonsushi = pd.DataFrame(sushi['businesses'])
bostonsushi.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,JO1aGVtB0TYtunc4Km_-Dg,koy-boston,Koy,https://s3-media1.fl.yelpcdn.com/bphoto/v0b4D2...,False,https://www.yelp.com/biz/koy-boston?adjust_cre...,624,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.0,"{'latitude': 42.3605931357964, 'longitude': -7...","[pickup, delivery]",$$,"{'address1': '16 North St', 'address2': None, ...",+18579911483,(857) 991-1483,1877.141413
1,GfuDpypk9ekc8OsMRTMJ0A,north-end-fish-market-boston-3,North End Fish Market,https://s3-media1.fl.yelpcdn.com/bphoto/BvuWok...,False,https://www.yelp.com/biz/north-end-fish-market...,347,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.5,"{'latitude': 42.36392, 'longitude': -71.0555399}","[pickup, delivery]",$$,"{'address1': '99 Salem St', 'address2': '', 'a...",+18573627477,(857) 362-7477,2205.720360
2,qBDpPs3Wg7EmUI5XGeUEdA,fugakyu-japanese-cuisine-brookline-brookline-2,FuGaKyu Japanese Cuisine - Brookline,https://s3-media2.fl.yelpcdn.com/bphoto/akIRmg...,False,https://www.yelp.com/biz/fugakyu-japanese-cuis...,1309,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.0,"{'latitude': 42.342954, 'longitude': -71.11937...","[pickup, delivery]",$$,"{'address1': '1280 Beacon St', 'address2': Non...",+16177341268,(617) 734-1268,3992.780230
3,Jmyya_ylt3Bks4NTcyWgEg,zuma-boston-2,Zuma,https://s3-media4.fl.yelpcdn.com/bphoto/bBxf_-...,False,https://www.yelp.com/biz/zuma-boston-2?adjust_...,249,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.0,"{'latitude': 42.345828481934674, 'longitude': ...","[pickup, delivery]",$$$$,"{'address1': '1 Dalton St', 'address2': 'Fl 2'...",+18574492500,(857) 449-2500,1072.408252
4,QXdEeuL4cA_KcGMrh5o5rA,sakanaya-boston-newton,Sakanaya Boston,https://s3-media4.fl.yelpcdn.com/bphoto/fWSz64...,False,https://www.yelp.com/biz/sakanaya-boston-newto...,201,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 42.3646105, 'longitude': -71.1977...",[],$$,"{'address1': '232 California St', 'address2': ...",+16172540009,(617) 254-0009,10560.199868

In [7]:
#checking total
sushi['total']

641

# Second Yelp DF

In [8]:
#creating second dataframe
sushi2 = yelp_api.search_query(location='New York, NY',
                                    term='Sushi',
                                    offset=20)
print(type(sushi2))
sushi2.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [9]:
nysushi = pd.DataFrame(sushi2['businesses'])
nysushi.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,T2fE7hGS83Ba-QNCOqbK4A,ako-brooklyn-5,Ako,https://s3-media3.fl.yelpcdn.com/bphoto/XG4n3k...,False,https://www.yelp.com/biz/ako-brooklyn-5?adjust...,488,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.0,"{'latitude': 40.7168599, 'longitude': -73.95845}","[pickup, delivery]",$$,"{'address1': '205 Bedford Ave', 'address2': ''...",+17183022035,(718) 302-2035,3275.340513
1,KxOAVoyJ55G-gEQqhnBpAQ,daigo-handroll-bar-brooklyn,Daigo Handroll Bar,https://s3-media1.fl.yelpcdn.com/bphoto/AwuuAL...,False,https://www.yelp.com/biz/daigo-handroll-bar-br...,117,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",4.5,"{'latitude': 40.690884, 'longitude': -73.982863}","[pickup, delivery]",$$,"{'address1': '445 Albee Sq', 'address2': None,...",,,1884.140648
2,dCDpb-fz6Ton9AXLoaWIhA,momoya-soho-new-york,Momoya SoHo,https://s3-media1.fl.yelpcdn.com/bphoto/-GoNQs...,False,https://www.yelp.com/biz/momoya-soho-new-york?...,90,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",4.0,"{'latitude': 40.72349, 'longitude': -73.99579}",[restaurant_reservation],NaN,"{'address1': '47 Prince St', 'address2': '', '...",+16464299315,(646) 429-9315,2015.999510
3,pou1-d7PENs6AD4mnt9P4g,sushi-w-new-york,Sushi W,https://s3-media4.fl.yelpcdn.com/bphoto/aTz6nM...,False,https://www.yelp.com/biz/sushi-w-new-york?adju...,117,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.5,"{'latitude': 40.79837, 'longitude': -73.96941}",[],NaN,"{'address1': '2673 Broadway', 'address2': '', ...",+19173189739,(917) 318-9739,10552.517781
4,uCXsqMEfD12Rlmp1H09_Nw,omakase-sushi-dairo-new-york,Omakase Sushi Dairo,https://s3-media3.fl.yelpcdn.com/bphoto/_WqZQV...,False,https://www.yelp.com/biz/omakase-sushi-dairo-n...,66,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",5.0,"{'latitude': 40.73601, 'longitude': -73.98542}","[restaurant_reservation, pickup, delivery]",NaN,"{'address1': '208 3rd Ave', 'address2': None, ...",+12125294193,(212) 529-4193,3481.364854

# Concatenate DFs

In [12]:
#combining dataframes
allsushi= pd.concat(['bostonsushi', 'nysushi'],
                    ignore_index=True)

display(allsushi.head(3), allsushi.tail(3))

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid